.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.preferences {
  display: flex;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid red;
}

#family {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.div-textarea {
    margin-top: 10px;
}
h2 {
    margin-left: 35px;
}
