body {
  background-color: rgb(236, 236, 236);
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.trybewarts-login {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
}

.trybewarts-login input {
  box-sizing: border-box;
  width: 30%;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.trybewarts-login button {
  font-size: 15px;
  color: white;
  background-color: rgb(82, 18, 143);
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 50%;
}

#dados {
  display: flex;
  flex-direction: column;
}

.sub-dados {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.sub-dados input {
  box-sizing: border-box;
  display: flex;
  flex-basis: 96%;
  margin-right: 4px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

#house {
  background-color: white;
  display: flex;
  flex-basis: 100%;
  border: none;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
}

.preferences {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#family {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sub-family {
  display: flex;
  flex-direction: column;
}

.sub-family label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sub-content {
  display: flex;
  flex-direction: column;

}

.div-content {
  display: flex;
}

.sub-content label {
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.div-textarea {
  margin-top: 10px;
  content: 100%;
}

#textarea {
  width: 100%;
}

h2 {
  text-align: center;
}

textarea {
  width: 660px;
  height: 200px;
}

#submit-btn {
  font-size: 15px;
  color: white;
  background-color: rgb(82, 18, 143);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 10px;
}

footer {
  background-color: rgb(71, 73, 85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
